@{
    this.ViewData["Title"] = "Contact Us";
}

<body>

    <section class="page-header page-header-text-light py-0 mb-0">
        <section class="hero-wrap section">
            <div class="hero-mask opacity-8 bg-dark"></div>
            <div class="hero-bg hero-bg-scroll" style="background-image:url('./images/bg/contact-bg.jpg');"></div>
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="d-flex justify-content-center align-items-center flex-column col">
                                <h1 class="text-14 fw-bold text-white mb-4">
                                    We’re Here to Help
                                </h1>
                                <p class="container w-50 lead text-light mb-4">
                                    Whether you have a question about our services, need assistance with your account, or just want to share your feedback, we’re always here for you.
                                </p>
                                <p class="lead text-center mb-5">Reach out to us through any of the channels below:</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Page Header end -->


    <section class="section">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 col-md-4 text-center">
                <div class="team rounded d-inline-block">
                    <img class="img-fluid rounded mb-3" alt="Bozhil Gandurov" height="250" width="250" src="~/images/Bozhil.png">
                    <h3>Bozhil Gandurov</h3>
                    <p class="text-muted">Co-Creator</p>
                    <p><strong>bozhil.gandurov@gmail.com</strong></p>
                    <p><strong>(+359) 887 31 67 07</strong></p>
                    <ul class="social-icons social-icons-sm d-inline-flex gap-5">
                        <li class="display-5"><a href="https://github.com/b-gandurov" title="GitHub"><i class="bi bi-github"></i></a></li>
                        <li class="display-5"><a href="https://www.linkedin.com/in/bozhil-gandurov-6445a872/" title="Linked-In"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 text-center">
                <div class="team rounded d-inline-block">
                    <img class="img-fluid rounded mb-3" alt="Maria-Viktoria Yakovalieva" height="250" width="250" src="~/images/Maria-Victoria.png">
                    <h3>Maria-Viktoria Yakovalieva</h3>
                    <p class="text-muted">Co-Creator</p>
                    <p><strong>viktoria.yakovalieva@gmail.com</strong></p>
                    <p><strong>(+359) 899 50 95 60</strong></p>
                    <ul class="social-icons social-icons-sm d-inline-flex gap-5">
                        <li class="display-5"><a href="https://github.com/mvyakovalieva" title="GitHub"><i class="bi bi-github"></i></a></li>
                        <li class="display-5"><a href="https://www.linkedin.com/" title="Linked-In"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-dark-1 text-white py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center">
                        <h2 class="text-9 text-center text-uppercase fw-400">Get in Touch</h2>
                        <p class="lead text-center mb-5">We’d love to connect with you on social media or through our email. Your questions and feedback are always welcome.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Get in Touch end -->

</body>
