@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-backdrop {
    z-index: -1;
}

/*.bg-dark {
    background-color: #2e2f58 !important;
}*/

.bg-dark-1 {
    /*background-color: #2e2f58 !important;*/
    background-color: #31466c !important;
}

.bg-dark-2 {
    background-color: #1f2144 !important;
}

.bg-dark-3 {
    background-color: #21314d !important;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #cfcfcf !important;
}

.nav-link {
    color: white;
}

.animate__extra-slow {
    --animate-duration: 20s;
}

.table td {
    text-align: center;
}


.navbar-nav .nav-link:hover {
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}


.container-inputs {
    padding-left: 30vw;
    padding-right: 30vw;
}
@media (max-width: 768px) {
    .container-inputs {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media (max-width: 576px) {
    .container-inputs {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}


.highlight-on-hover:hover {
    background-color: #f8f9fa; /* Light grey, or any other color */
    transition: background-color 0.3s ease;
    color: #1a1a1a !important;
}

hr {
    color: #585656;
    background-color: currentColor;
    opacity: 0.55;
    width:100%;
    margin:0;
}

