@model ChangePasswordViewModel

<div class="card bg-dark-1 text-white shadow">
    <div class="card-body">
        <form asp-action="ChangePassword" method="post">
            <div class="mb-1">
                <input asp-for="CurrentPassword" class="form-control" type="password" placeholder="Current Password" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <input asp-for="NewPassword" class="form-control" type="password" placeholder="New Password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <input asp-for="ConfirmNewPassword" class="form-control" type="password" placeholder="Confirm New Password" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <input asp-for="UserId" hidden class="form-control" />

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Change Password</button>
            </div>
        </form>
    </div>
</div>
